body{
	min-width: 620px;
}
.remove{
  float: right;
}

.navbar-brand{
  padding: 5px 15px;
}

.pduTable{
  margin-top: 10px;
  margin-bottom: 0px;
}

.groupTable{
  margin-top: 10px;
  margin-bottom: 0px;
}
.tablePduHeader{
  font-weight: bold;
  display:block;
}
.tablePduHeader.tableIP{
	display:inline-block;
}
.checkbox{
  display:inline-block;
  width:24%;
}

.barGroups.open .showMenuAddingGroup{
  display:block !important;
}
.barGroups .showMenuAddingGroup{
  display:none !important;
}

.fa-check{
	display: block;
    text-align: center;
	color: green;
}

.fa-pencil{
	color: blue;
	float: right;


}

.fa-ban{
	color: red;
	display: block;
    text-align: center;
}
textarea.pduDesc{
	width: 90%;
	height:100%;
}
textarea.slotDesc{
	width: 90%;
	height:100%;
}
.fa{
	cursor:pointer;
}
.selectedGroup{
	background-color: #eee;
}
.nav>li>a:focus{
	background-color: transparent;
}
.nav>li>a:hover{
	background-color: #eee !important;
}
.pages{
	border:none;
	text-align:center;
	width:50px;
	height:19px;
}
.pduTableButton{
	float: right;
	margin-bottom: 50px;
    background-color: #686868;
    font-weight: bold;
    color: white;
    border: none;
}
.headerRow{
    background-color: #686868;
    color: white;
}
.pagination{
	margin: 100px 0;
}

button{
	padding: 1px 6px !important;
    border: none !important;
}
.circle{
	display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border: 1px solid black;
}

.greenCircle{
	background-color: #0DFC39;
}

.redCircle{
	background-color: red;
}

.greyCircle{
	background-color: grey;
}
.busy{
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(220,220,220, 0.4);
	z-index:200000;
}
.scroll-body-modal{
	max-height: 300px;
  overflow: auto;
}
@media screen and (max-width: 767px){
	#side-menu > li{
		text-align: center;
	}
	#menuGroups .arrow {
		float:none;
	}
}
