.remove{
  float: right;
}

.navbar-brand{
  padding: 5px 15px;
}

.pduTable{
  margin-top:10px;
  margin-bottom:50px;
}

.tablePduHeader{
  font-weight: bold;
  display:block;
}
.tablePduHeader.tableIP{
	display:inline-block;
}
.checkbox{
  display:inline-block;
  width:24%;
}

.barGroups.open .showMenuAddingGroup{
  display:block !important;
}
.barGroups .showMenuAddingGroup{
  display:none !important;
}

.fa-check{
	margin-left: 10px;
	color: green;
	float: right;
}

.fa-pencil{
	color: blue;
	float: right;


}

.fa-ban{
	color: red;
	float: right;
}
textarea.pduDesc{
	width: 90%;
	height:100%;
}
textarea.slotDesc{
	width: 80%;
	height:100%;
}