{% load staticfiles %}

<html>
<head>
  <title> {% block title %} {% endblock %}</title>
  <!-- Bootstrap Core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/metisMenu.css' %}" rel="stylesheet">
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'css/morris.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-switch.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src = "{% static 'js/angular/checklist-model.js' %}"></script>
  <script src = "{% static 'js/angular/ui-bootstrap-tpls-0.2.0.js' %}"></script>
  <script src = "{% static 'js/angular/main.js' %}"></script>
  <script src = "{% static 'js/angular/services/repository.js' %}"></script>
</head>
<body ng-app = "pduApp" ng-controller = "mainController" ng-init="init()">

  <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img style="height:40px;width:150px;" src="../../static/images/logo.png"></a>
          </div>
          <!-- /.navbar-header -->

          <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#" ng-click = "contentOfTab = templates[0]">Devices</a>
              </li>
              <li>
                <a href="#" ng-click = "displayAllGroups();">Public Groups</a>
              </li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> User Profile <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="#"><i class="fa fa-user fa-fw"></i> {{ username }}</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                      <li ng-class= "{'selectedGroup': selectedGroup.id == 0}">
                          <a  href="#" ng-click="selectGroup(0)"><i class="fa fa-globe fa-fw"></i> All PDU devices</a>
                      </li>
                      <li id="menuGroups">
                          <a href="#"><i class="fa fa-object-group"></i> Groups <span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level" id="secondLevelMenu">
                              <li ng-repeat="group in groups" ng-class= "{'selectedGroup': selectedGroup.id == group.id}">
                                  <a ng-show="group.name != 'all' && group.id != 0" href="#" ng-click="selectGroup(group.id)">{[{group.name}]}
                                    <i ng-click="removeGroup(group.id)" class="fa fa-trash remove" style="margin-left:10px"></i>
                                    <i ng-click = "editGroup(group)" data-toggle="modal" data-target="#addingGroup" class="fa fa-pencil" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a  ng-click="createEmptyGroup();" href="#" data-toggle="modal" data-target="#addingGroup"><i class="fa fa-plus fa-fw"></i> Add group</a>
                      </li>
                  </ul>
              </div>
              <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
      </nav>

      <div id="page-wrapper">
        {% block content %}
        {% endblock %}
      </div>
      <!-- /#page-wrapper -->

  </div>

  <div class="modal fade" id="addingGroup" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 ng-if="modeGroup == 'edit'" class="modal-title">Edit group</h4>
          <h4 ng-if="modeGroup == 'add'" class="modal-title">Add group</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="groupName">Name:</label>
            <input type="text" class="form-control" id="groupName" ng-model = "newGroup.name">
          </div>
          <div class = "barGroups" ng-repeat="(pduId, pdu) in arrayPdu" ng-class="selectedLabel == pduId? 'open': ''">
            <span ng-click="selectLabelAdiingGroup(pduId);" class="label label-info headerMenuGroup" style="display:block;margin-top:10px;cursor:pointer;"> {[{pdu.name}]}: {[{pdu.ip}]} <i ng-class="selectedLabel == pduId? 'fa fa-angle-up': 'fa fa-angle-down'"></i> </span>
            <div class = "showMenuAddingGroup">
              <div class="checkbox" ng-repeat="(slotId, slot) in pdu.arraySlots">
                <label>
                  <input type="checkbox" checklist-value="slotId" checklist-model="newGroup.idSlots">Slot {[{slot.nr}]}
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmGroup()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="busy" ng-show="busy == true">
    <center>
      <img style="position: fixed;top: 50%;" src="../../static/images/ajax-loader.gif">
      </center>
  </div>

  <!-- jQuery -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src = "{% static 'js/notify.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- Metis Menu Plugin JavaScript -->
  <script src="{% static 'js/metisMenu.min.js' %}"></script>
  <!-- Morris Charts JavaScript -->
  <script src="{% static 'js/raphael-min.js' %}"></script>
  <!-- Custom Theme JavaScript -->
  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  <script src="{% static 'js/bootstrap-switch.js' %}"></script>
  <script src="{% static 'js/general.js' %}"></script>
</body>
</html>
