<table class="table table-bordered groupTable">
	<tbody>
          <tr class = "headerRow">
          	<td>lp.</td>
            <td style="text-align:center;"><span class="tablePduHeader">Name</span></td>
            <td style="text-align:center;"><span class="tablePduHeader">Owner</span></td>
            <td></td>
          </tr>
          <tr ng-repeat="group in allGroups">
          	<td>{[{ $index }]}</td>
          	<td style="text-align:center;"> {[{ group.name }]} </td>
            <td style="text-align:center;"> {[{ group.owner.user_name }]} </td>
            <td>
            	<button type="button" class="btn btn-info">Add to your groups</button>
            </td>
          <tr>	
    </tbody>
<table>