<div ng-repeat="pduId in filteredPdus | startFrom:(pagination.currentPage-1)*pagination.entryLimit | limitTo:pagination.entryLimit | orderBy: pduId">
    <table class="table table-bordered pduTable">
        <tbody>
          <tr class = "headerRow">
            <td colspan="2" style="text-align:center;width:30%"><span class="tablePduHeader">PDU Name:</span></td>
            <td colspan="2" style="text-align:center;width:30%"><span class="tablePduHeader">Ip:</span></td>
            <td style="text-align:center;width:40%"><span class="tablePduHeader">Description:</span></td>
            <td ng-if="editedPdu == pduId || editedslot != undefined"></td>
            <td ng-if="editedPdu == pduId || editedslot != undefined"></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:center;"> {[{arrayPdu[pduId].name}]} </td>
            <td colspan="2" style="text-align:center;"> {[{arrayPdu[pduId].ip}]} </td>
            <td ng-if="editedPdu != pduId && editedslot == undefined" >
                <i ng-click = "editPduDescr(arrayPdu[pduId], pduId)" class="fa fa-pencil" aria-hidden="true"></i>
              <div style="display:inline-block; width: 90%">{[{arrayPdu[pduId].descr}]}</div>
            </td>
            <td colspan="3" ng-if="editedPdu != pduId && editedslot != undefined" >
                <i ng-click = "editPduDescr(arrayPdu[pduId], pduId)" class="fa fa-pencil" aria-hidden="true"></i>
              <div style="display:inline-block; width: 90%">{[{arrayPdu[pduId].descr}]}</div>
            </td>
            <td ng-if="editedPdu == pduId">
              <textarea ng-model = "descr.editedPduDescrText" class = "pduDesc"></textarea>
            </td>
            <td ng-if="editedPdu == pduId">
              <span>confirm</span><i ng-click="confirmPduDescr(arrayPdu[pduId])" class="fa fa-check" aria-hidden="true"></i>
            </td>
            <td ng-if="editedPdu == pduId">
              reject<i ng-click="rejectDescr()" class="fa fa-ban" aria-hidden="true"></i>
            </td>
          </tr>
          <tr ng-show="arrayPdu[pduId].dispMoreInfo && arrayPdu[pduId].arraySlots[slotId] != undefined" ng-repeat-start = "slotId in selectedGroup.idSlots | orderBy: slotId" style="background-color: #D2E7FC;">
            <td colspan="4" style="text-align:center;width:60%">
              <span class="tablePduHeader tableIP">Outlet {[{arrayPdu[pduId].arraySlots[slotId].nr}]}:</span> {[{arrayPdu[pduId].arraySlots[slotId].state}]}
              <div class = "circle" ng-class="{'greenCircle' : arrayPdu[pduId].arraySlots[slotId].state == 'enabled', 'redCircle': arrayPdu[pduId].arraySlots[slotId].state == 'disabled', 'greyCircle' : arrayPdu[pduId].arraySlots[slotId].state == 'unknown'}"></div>
            </td>
            <td colspan="3" style="text-align:center;width:40%" ng-if="editedslot != undefined || editedPdu != undefined">
              <span class="tablePduHeader tableIP">Description: </span>
            </td>
            <td style="text-align:center;width:40%" ng-if="editedslot == undefined && editedPdu == undefined">
              <span class="tablePduHeader tableIP">Description: </span>
            </td>
          </tr>
          <tr ng-show="arrayPdu[pduId].dispMoreInfo && arrayPdu[pduId].arraySlots[slotId] != undefined" ng-repeat-end>
            <td style="text-align:center;width:15%"><button type="button" ng-click = "switchOnSlot(arrayPdu[pduId], arrayPdu[pduId].arraySlots[slotId]);" class="btn btn-success">Switch on</button></td>
            <td style="text-align:center;width:15%"><button type="button" ng-click = "switchOffSlot(arrayPdu[pduId], arrayPdu[pduId].arraySlots[slotId]);" class="btn btn-danger">Switch off</button></td>
            <td style="text-align:center;width:15%"> <button type="button" ng-click = "resetSlot(arrayPdu[pduId], arrayPdu[pduId].arraySlots[slotId]);" class="btn btn-primary">Reboot</button></td>
            <td style="text-align:center;width:15%"><button type="button" ng-click = "checkState(arrayPdu[pduId], arrayPdu[pduId].arraySlots[slotId]);" class="btn btn-info">Check state</button></td>
            <td colspan="3" ng-if="editedslot != slotId && editedPdu == undefined">
              <span class="tablePduHeader ">
                <i ng-click = "editSlotDescr(arrayPdu[pduId].arraySlots[slotId], pduId, slotId)" class="fa fa-pencil" aria-hidden="true"></i>
              </span>
              <div style="display:inline-block; width: 90%">{[{arrayPdu[pduId].arraySlots[slotId].descr}]}</div>
            </td>
            <td colspan="3" ng-if="editedslot != slotId && editedPdu != undefined">
              <span class="tablePduHeader ">
                <i ng-click = "editSlotDescr(arrayPdu[pduId].arraySlots[slotId], pduId, slotId)" class="fa fa-pencil" aria-hidden="true"></i>
              </span>
              <div style="display:inline-block; width: 90%">{[{arrayPdu[pduId].arraySlots[slotId].descr}]}</div>
            </td>
            <td ng-if="editedslot == slotId">
              <textarea ng-model = "descr.editedSlotDescrText" class = "slotDesc"></textarea>
            </td>
            <td ng-if="editedslot == slotId">
              <span>confirm</span><i ng-click="confirmSlotDescr(arrayPdu[pduId].arraySlots[slotId])" class="fa fa-check" aria-hidden="true"></i>
            </td>
            <td ng-if="editedslot == slotId">
              reject<i ng-click="rejectSlotDescr()" class="fa fa-ban" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <button ng-click="tooglePduInformations(arrayPdu[pduId]);" type="button" class="pduTableButton"> {[{arrayPdu[pduId].dispMoreInfo != true? "Display outlets": "Hide outlets"}]} <i class="fa" ng-class="{'fa-chevron-down' : !arrayPdu[pduId].dispMoreInfo, 'fa-chevron-up': arrayPdu[pduId].dispMoreInfo}" aria-hidden="true"></i></button>
  </div>

    <ul class="pagination" ng-if="pagination.noOfPages > 1">
    <li ng-click="changePage(1);" ng-class="{'disabled': pagination.currentPage == 1}">
      <a href="#">first</a>
    </li>
    <li ng-click="changePage(pagination.currentPage - 1);" ng-class="{'disabled': pagination.currentPage == 1}">
      <a href="#">«</a>
    </li>
    <li ng-click="changePage($index + 1);" ng-class="{'disabled': pagination.currentPage == $index + 1}" ng-repeat = "i in getNumberPages() | limitTo:pagination.limitPages track by $index ">
      <a href="#">{[{$index + 1}]}</a>
    </li>
    <li ng-click="changePage(pagination.currentPage + 1);" ng-class="{'disabled': pagination.currentPage == pagination.noOfPages}">
      <a href="#">»</a>
    </li>
    <li ng-click="changePage(pagination.noOfPages);" ng-class="{'disabled': pagination.currentPage == pagination.noOfPages}">
      <a href="#">last</a>
    </li>
    <li style="height:34px;">
      <a>results on page: <input id="pageNumberInput" my-enter = "confirmNumberOfPages()" class="pages" style = "padding:0;" type="text" ng-model = "pagination.entryLimit" ng-model-options="{ updateOn: 'blur' }"></a>
    </li>
  </ul>
  <ul class="pagination" ng-if="pagination.noOfPages == 1">
    <li style="height:34px;">
      <a>results on page: <input id="pageNumberInput" my-enter = "confirmNumberOfPages()" style = "padding:0;" class="pages" type="text" ng-model = "pagination.entryLimit" ng-model-options="{ updateOn: 'blur' }"></a>
    </li>
  </ul>
